* {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(17, 17, 17);
}




/* Barre de Navigation */

nav {
    background-color: rgb(25, 25, 27);
    width: 100%;
    position: fixed;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
}

nav a img {
    width: 9%;
    margin-left: 1%;
}


#about {
    margin-right: 2%;
    color: aliceblue;
    text-decoration: none;
    width: 12%;
    font-family: Arial, Helvetica, sans-serif;
    transition: ease 0.3s;
}

#about:hover {
    transition: ease 0.3s;
    color: white;
    text-shadow: 0px 0px 4px white;
}

#login {
    color: rgb(138, 138, 138);
    background-color: rgb(25, 25, 27);
    border: none;
    cursor:pointer;
    margin-left: 2%;
    width: 6%;
    transition:ease 0.3s;
}

#login:hover {
    color: rgb(179, 179, 179);
    transition:ease 0.3s;
    text-shadow: 0px 0px 7px rgb(117, 117, 117);
}

#register {
    color: aliceblue;
    background-color: rgb(211, 52, 86);
    margin-right: 2%;
    margin-left: 1%;
    padding: 0.5%;
    border: none;
    border-radius: 2px;
    transition:ease 0.3s;
}

#register:hover {
    color: white;
    transition:ease 0.3s;
    text-shadow: 0px 0px 7px white;
}

i {
    margin-right: 5%;
}

/* Fin Barre de Navigation */


/* Catégories */

#h1categories {
    color: aliceblue;
    margin-left: 8%;
    font-family: 'Roboto';
}

#categories {
    display: flex;
    margin-top: 2%;
    margin-left: 15%;
}

#categories div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}


#categories img {
    width: 30%;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

#categories img:hover {
    transform: scale(1.1);
}


#categories a {
    margin: 1%;
    color: #9b9b9b;
    font-size: 20px;
    text-decoration: none;
    line-height: 32px;
    font-family: 'Roboto';
    transition: ease 0.3s;
}

#categories a:hover {
    text-shadow: 0px 0px 2px white;
    transition: ease 0.3s;
}


/* Fin Catégories */


/* Présentation */

#presentation, #apropos {
    background-color: rgb(17,17,17);
    color: aliceblue;
    text-align: justify;
    margin-top: 6%;
    padding-left: 7%;
    padding-right: 7%;
    font-family: "Roboto";
    line-height: 25px;
    font-size: 20px;
}

/* Fin présentation */

/* Pied de page */

footer {
    margin-top: 5%;
    background-color: rgb(25, 25, 27);
    padding: 35px 125px;
    color: #828282;
}


footer div div a {
    margin: 15%;
    color: #828282;
    text-decoration: none;
    font-family: 'Roboto';
    display: block;
    width: 110%;
    transition: ease 0.3s;
}

footer div div a:hover {
    transition: ease 0.3s;
    color: #9b9b9b;
    text-shadow: 0px 0px 3px #9b9b9b;
}


#colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Fin pied de page */











/*  Pages des categories  */

#category-content {
    background-color: rgb(17, 17, 17);
    color: aliceblue;
    text-align: justify;
    margin-top: 6%;
    padding-left: 7%;
    padding-right: 7%;
    font-family: "Roboto";
    line-height: 25px;
    font-size: 20px;
}

#category-content img {
    margin-bottom: 3%;
    width: 25%;

}

#category-content h2 {
    margin-bottom: 1%;
    font-size: 115%;
}

#article {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
}

#article a {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 30px;
    border-style: dotted;
    border-color: #828282;
    border-radius: 10px;
    padding: 10px;
    transition: ease 0.3s;
    width: 100%;
}

#article a:hover {
    transform: scale(1.05);
    transition: ease 0.3s;
}

#article img {
    width: 20%;
}

#article h2 {
    color: #fff;
    font-size: 20px;
    transition: ease 0.3s;
}

#article h2:hover {
    text-shadow: 0px 0px 10px;
}

/* Fin Page categories */
